version: "3.8"
services:
  db:
    image: postgres:15
    container_name: superasia_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: superuser
      POSTGRES_PASSWORD: superpass
      POSTGRES_DB: superasia
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: superasia_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8089:80"
    depends_on:
      - db

volumes:
  pgdata:
